<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [1]:
import csv
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './data/chipotle.tsv'

In [2]:
# use open and csv.reader to read the tsv file:
with open(DATA_FILE, 'r') as tsvfile:
    file_nested_list = list(csv.reader(tsvfile, delimiter='\t', quotechar=','))

FileNotFoundError: [Errno 2] No such file or directory: './data/chipotle.tsv'

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [6]:
header = file_nested_list[0]
header

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [7]:
data = file_nested_list[1:]
data[5]

['3',
 '1',
 'Chicken Bowl',
 '[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]',
 '$10.98 ']

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [8]:
# Lets see if an order can have differets quantities:
quantity =0
for i,row in enumerate(data):
    if row[1] != '1' :
        quantity += 1 
        
print(quantity) # there are 267 orders where people ask mone than 1 quantity of the
# same product.

267

In [9]:
# Cleaning the  $ in price

for i,row in enumerate(data):
    
    if row[4].startswith('$'):
        row[4] = row[4].replace('$','')

In [10]:
# Computing the order price average:
total = 0.0
orders = 0
for i,row in enumerate(data):
    price  = float(row[4])
    quantity = int(row[1])
   
    total += price*quantity
    orders += quantity

    #print(quantity,price)

In [11]:
# Print the average:
print(round(total/orders,3))

7.892

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [12]:

# Define a predicate function to find sodas in a list
def is_sodas(row):
    return(row[2] in ('Canned Soda','Canned Soft Drink'))

#Define a function that take  the is_soda function and a list, for every row we apply
#verifies if is_sodas == true and save and return a new list.
def _filter(func, lists):
    result = []
    for row in lists:
        if func(row):
            result.append(row)
    return result

In [13]:
#Calling the filter
drinks = _filter(is_sodas, data)

In [14]:
# Create a set:
sodas = set()

In [15]:
# Read all rows and add sodas in the set:
for i,row in enumerate(drinks):
    sodas.add(row[3])

sodas

{'[Coca Cola]',
 '[Coke]',
 '[Diet Coke]',
 '[Diet Dr. Pepper]',
 '[Dr. Pepper]',
 '[Lemonade]',
 '[Mountain Dew]',
 '[Nestea]',
 '[Sprite]'}

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [126]:
# Define a predicate function to find Burritos in a list
def is_burrito(row):
    if 'Burrito' in row[2]: 
        return(True)

is_burrito(data[7])

True

In [130]:
# We can use the filter to get only burritos orders:
Burritos = _filter(is_burrito,data)

In [81]:
# Counting and summing the number of tops: by finding how many commas the 3  column
# has:
ntop = 0
for row in Burritos:
    ntop += (row[3].count(',') + 1 )

In [83]:
# Burritos tops Avergae ;
ntop/len(Burritos)

5.395051194539249

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [122]:
# Define a predicate function to find chips in a list
from collections import Counter
def is_chip(row):
    if 'Chip' in row[2]: 
        return(True)

chips = _filter(is_chip,data)

In [123]:
chipsdic =Counter()

for row in chips:
    row[1] = int(row[1])
    chipsdic[row[2]] += row[1]

chipsdic

Counter({'Chips and Fresh Tomato Salsa': 130,
         'Chips and Tomatillo-Green Chili Salsa': 33,
         'Side of Chips': 110,
         'Chips and Guacamole': 506,
         'Chips and Tomatillo Green Chili Salsa': 45,
         'Chips': 230,
         'Chips and Tomatillo Red Chili Salsa': 50,
         'Chips and Roasted Chili-Corn Salsa': 18,
         'Chips and Roasted Chili Corn Salsa': 23,
         'Chips and Tomatillo-Red Chili Salsa': 25,
         'Chips and Mild Fresh Tomato Salsa': 1})

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!

In [140]:
# Lest try the people favorite tacos at chipoles:
def is_Taco(row):
    if 'Taco' in row[2]: 
        return(True)

Tacos = _filter(is_Taco,data)

In [139]:
Tacodic =Counter()

for row in Tacos:
    row[1] = int(row[1])
    Tacodic[row[2]] += row[1]

Tacodic.most_common(1)

[('Chicken Soft Tacos', 120)]